.container {
  padding: 0 2rem;
}

.main {
  min-height: 10vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
}

.linkIcon {
  border: 1px solid white;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}
